{% extends "nacholibreAdminBundle::layout.html.twig" %}

{% import 'nacholibreHitsLoggerBundle:Default:macros.html.twig' as macros %}

{% block pageHeaderTitle 'User stats user ID: ' ~ userID  %}

{% block content %}
{{ parent() }}

<h2>Last user clicks recorded</h2>

{{ macros.renderLastUserHitsTable(latestUserHits) }}
{% endblock %}
